@media screen and (min-width: 768px) {

  ::-webkit-scrollbar {
    width: 1rem;

  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scroll--color);
    border-left: 4px solid rgba(0, 0, 0, 0.329);
    border-radius: 2px;
    margin-top: 20px;
  }

}