.message_container {
    width: fit-content;
    max-width: 90%;
    background-color: rgb(121, 128, 158);
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.527);
    border-radius: 1rem;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.message_container_self {
    width: fit-content;
    max-width: 90%;
    background-color: rgb(121, 128, 158);
    box-shadow: 1px 1px 6px rgba(255, 255, 255, 0.527);
    border-radius: 1rem;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: auto;
    text-align: right;
}

.user_info {
    display: flex;
    align-items: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.527);

}

.user_avatar {
    display: flex;
    align-items: center;
}

.user_avatar img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0 .5rem 0;
    box-sizing: border-box;
}

.user_avatar img:hover {
    outline: 1px solid white;

}

.message_text {
    word-break: break-all;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
    .user_info, .message_text {
        font-size: .75rem;
    }

}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .user_info, .message_text {
        font-size: .75rem;
    }
}